.main
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 3px 3px #eef8ff;
    /*margin-top: 3%;*/
    padding: 10px;
    border-radius: 5px;
}

.status
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px solid blue;*/
    width: 41%;

}
.statusText
{
    margin-left: 20px;
}
.setting
{
  composes: status;
  width: 10%;
  transition: 0.4s;
  /*border: 1px solid red;*/
}
.settingOff
{
  composes: setting;
  overflow: hidden;
  transform: scaleY(0);
}
.clickText
{
  margin-left: 10px;
  color: lightblue;
  font-weight: bold;
  font-style: inherit;
  user-select: none;
  cursor: pointer;
}
.indexText
{
    color: gray;
  width: 8%;
}
.acWorkingText
{
    color: darkgreen;
}
.acNotWorkingText
{
    color: gray;
}
