.main
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    /*border: 1px solid darkblue;*/
}
.container
{
    composes: main;
    width: 800px;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    /*padding: 5%;*/
    /*border: 1px solid red;*/
    border-radius: 10px;
    box-shadow: 0 0 6px 1px lightskyblue;
}
.titleLine
{
    font-size: 25px;
    font-weight: bold;
}
.grayLine
{
    color: gray;
}
.avatar
{
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 50px;
    background-color: darkorange;
    color: #cce6f1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 2px silver;
    box-shadow: 0 0 30px 1px orange inset, 3px 3px 15px 3px orange;
}
.createTimeLine
{
    color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.infoLine
{
    width: 90%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*border: 1px solid sandybrown;*/
}
.infoLabel
{
    width: 30%;
    /*border: 1px solid salmon;*/
}
.infoValue
{
    width: 70%;
    /*border: 1px saddlebrown solid;*/
}
.actionLine
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}