@import "../base.css";
.main
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title
{
  width: 100%;
}
.content
{
  width: 100%;
}
.part
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 5px;
  padding: 10px;
  /*background-color: #f6fffe;*/
  border-bottom: 1px dashed lightcyan;
}
.partLight
{
  composes: part;
  /*background-color: #f7fff7;*/
  /*background-color: #f4fcfc;*/
}
.partContent
{
  width: 85%;
  padding-left: 60px;
  padding-right: 60px;
  border-left: dashed 1px darkcyan;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.AC
{
  composes: partLight;
}
.partName
{
  width: 15%;
  font-size: 18px;
  font-weight: bold;
}
.UVLamp
{
  composes: part;
}
.interactiveSetting
{
  composes: partLight;
}
.expiration
{
  composes: part;
}
.errorProcessMethod
{
  composes: partLight;
}
.medicineWarning
{
composes: part;
}
.flexRow
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.settingBtn
{
  transition: 0.4s;
  cursor: pointer;
  user-select: none;
}
.settingBtnHide
{
  composes: settingBtn;
  transform: scaleY(0);
}
.lightWord
{
  color: cadetblue;
}
.grayWord
{
  color: lightgray;
}
.center
{
  width:100%;
  height: 100%;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addUserBtn
{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px dashed cadetblue;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.heng
{
  width: 60%;
  height: 10%;
  /*border: skyblue 1px solid;*/
  background-color: silver;
  /*box-shadow: 0 0 3px 1px skyblue;*/
  position: absolute;
  top: 45%;
  left: 20%;
}
.shu
{
  composes: heng;
  transform: rotateZ(90deg);
}
