@font-face {
  font-family: "iconfont"; /* Project id 3063555 */
  src: url('//at.alicdn.com/t/font_3063555_59gaizs3ml2.woff2?t=1649733306792') format('woff2'),
  url('//at.alicdn.com/t/font_3063555_59gaizs3ml2.woff?t=1649733306792') format('woff'),
  url('//at.alicdn.com/t/font_3063555_59gaizs3ml2.ttf?t=1649733306792') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shidu:before {
  content: "\e642";
}

.icon-shezhi:before {
  content: "\e892";
}

.icon-shuaxin:before {
  content: "\e601";
}

.icon-pro-stock-manage:before {
  content: "\e600";
}

.icon-wendushezhi2-05-05:before {
  content: "\e634";
}

.icon-zuobiaoxuanqu:before {
  content: "\e69e";
}

.icon-kongtiao:before {
  content: "\e671";
}

.icon-wenduji:before {
  content: "\e616";
}
